<h1>Posts List</h1>
<p><%= notice%></p>
<% div_id = 0 %>
<ul>
<% @posts.each do |post| %> 
  <li>
  	<div class="post">
			<div class="author"><%= post.author %>, <%= post.formatted_created_at %></div><br/>
			<div class="title"><%= post.title %></div><br/>
			<div class="body"><%= post.body %></div><br/>
			<%= button_to('Remove', "/posts/#{post.id}", :confirm => 'Are you sure?', :method => 'delete', :class => 'delete_post_button') %><br/>
			
			<input Type="image" onClick="toggleDiv('div<%= div_id %>', 'button<%= div_id %>');" src="/images/plusButton.gif" id="button<%= div_id %>"/>
			Comments<br/>
			
			<div id="div<%= div_id %>" style="display:none">
			
				<ul> 
					<% if @comments_list.has_key?("#{post.id}") && !@comments_list["#{post.id}"].empty?%>
						<% @comments_list["#{post.id}"].each do |comment| %>
							<li>
								<%= comment.author %>, <%= comment.formatted_created_at %><br/><br/>
								<%= comment.body %>
							</li><br/>
						<% end %>
					<% end %>
			
					<li>
						<form class="comment_form" method="post" action="/comments">
							<input type="HIDDEN" name="post_id" value="<%= post.id %>"/>
				
							<% if @user.nil? %>
								<input type="HIDDEN" name="author" value="Anonymous"/>
							<% else %>
								<input type="HIDDEN" name="author" value="<%= @user %>"/>
							<% end %>

							<input type="text" name="body" value="Leave a new comment..." onblur="if (this.value == '') {this.value = 'Leave a new comment...';}"  
								onfocus="if (this.value == 'Leave a new comment...') {this.value = '';}"/>
							
							<input type="submit" value="Add it!" />
						</form>
					</li>
				</ul>
			
			</div>
			
		</div>
  </li><br/>
  <% div_id = div_id + 1 %>
<% end %>
</ul>

<a href="/posts/new">Create a new post</a><br/>
<% if @user.nil? %>
	<a href="/sessions/new">Log In</a>
<% else %>
	<a href="/sessions/destroy">Log Out</a>
<% end %>
